.container {
  display: flex;
  height: 100vh; 
}

.form-section {
  flex: 1; 
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto; 
}


.preview-section {
  flex: 1; 
  padding: 20px;
  background-color: #fff; 
  border-left: 2px solid #ddd; 
  overflow-y: auto; 
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #4c4faf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c282bd;
}

.preview-section p {
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }
}
